@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');


    #top {
        width: 1472px;
        height: 80px;
        border: 2px solid;
    }

    #button {
        background-color: rgba(217, 235, 253, 0.84);
        border-radius: 10%;
        color: black;
        width: 70px;
        height: 60px;
        position: absolute;
        top: 20px;
        left: 30px;
    }

    #button:active {
        background-color: rgb(192, 224, 247); /* 클릭되었을 때 배경 색을 회색으로 변경 */
    }

    #button img {
        margin-top: -3px;
        margin-left: 6px;
    }
    
    #option {
        width: 200px;
        height: 30px;
        position: absolute;
        top: 35px;
        left: 120px;
        font-family: "Black Han Sans", sans-serif;
        font-size: 17px;
        
    }

    #start {
        background-color: rgba(217, 235, 253, 0.84);
        border-radius: 10%;
        color: black;
        width: 90px;
        height: 60px;
        position: absolute;
        top: 20px;
        left: 340px;
        font-weight : 1000;
        font-size:  20px;
        font-family: "Black Han Sans", sans-serif;
    }

    #line {
        width: 1050px;
        height: 500px;
        position: absolute;
        top: 100px;
    }

    #bar {
        width: 1050px;
        height: 500px;
        position: absolute;
        top: 610px;
    }

    #list1 {
        width: 400px;
        height: 1010px;
        position: absolute;
        top: 100px;
        left: 1080px;
    }

    #list2 {
        width: 400px;
        height: 1010px;
        position: absolute;
        top: 100px;
        left: 1490px;
    }

    #line1 {
        width: 400px;
        position: absolute;
        top: 170px;
        left: 1080px;
    }

    #line2 {
        width: 400px;
        position: absolute;
        top: 170px;
        left: 1490px;
    }

    #list1_text {
        position: absolute;
        top: 120px;
        left: 1120px;
        font-size: 40px;
        font-family: "Black Han Sans", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    #list2_text {
        position: absolute;
        top: 125px;
        left: 1600px;
        font-size: 25px;
    }

        /* 컨테이너의 크기를 조절하여 차트의 크기를 조정 */
        #chart-container {
            width: 1100px; /* 너비 조절 */
            height: 430px; /* 높이 조절 */
            position: absolute;
            top: 120px;
        }

        #top-line {
            width: 100%;
            height: 50%;
            border: 30px solid gray;
        }

        #myLineChart {
            position: absolute;
            left: 30px;
            
        }

        #myBarChart {
            position: absolute;
            top: 500px;
            left: 30px;
        }